/debugdata
/build
/flatpaks/script.sh
/flatpaks/repo
/flatpaks/list.txt
/lorax_templates/post_*
/pkglists
/repos/*.repo
!/repos/centos.repo
/results
/xorriso/input.txt
/original-pkgsizes.txt
/final-pkgsizes.txt
/lorax.conf
/output
/*.log
/cache