<%page args="root"/>
runcmd mkdir ${root}/ostree
runcmd ostree --repo=${root}/ostree/repo init --mode=bare
runcmd ostree container unencapsulate --repo=${root}/ostree/repo ostree-unverified-image:docker://ghcr.io/jasonn3/base-main:39	
runcmd ostree --repo=${root}/ostree/repo summary -u