<%page args="image_name, image_tag"/>

append usr/share/anaconda/interactive-defaults.ks "ostreecontainer --url=/run/install/repo/${image_name}-${image_Tag} --transport=oci --no-signature-verification"

