append usr/share/anaconda/interactive-defaults.ks "ostreecontainer --remote=ostree-remote-registry:ghcr.io/ublue-os/base-main:39 --url=file:///run/install/repo/base-main.tar --transport=oci-archive --no-signature-verification"
 