append etc/anaconda/conf.d/anaconda_modules.conf "[Anaconda]"
append etc/anaconda/conf.d/anaconda_modules.conf "kickstart_modules="
append etc/anaconda/conf.d/anaconda_modules.conf "    org.fedoraproject.Anaconda.Modules.Network"
append etc/anaconda/conf.d/anaconda_modules.conf "    org.fedoraproject.Anaconda.Modules.Payloads"
append etc/anaconda/conf.d/anaconda_modules.conf "    org.fedoraproject.Anaconda.Modules.Storage"
append etc/anaconda/conf.d/anaconda_modules.conf "    org.fedoraproject.Anaconda.Modules.Users"