name: Test Repo

on:
  push:
    branches:
      - 'main'
    tags:
      - 'v*'
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  variables:
    name: Check variables are listed
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        
      - name: Run test
        run: |
          sudo apt-get update
          sudo apt-get install -y make
          sudo make test/repo/install-deps
          make test/repo